
{% block footer %}
    
<footer>
    <div class="logo"><img src="../static/images/logo.png" alt="" srcset="" /></div>
    <div class="div-link1">
      <ul>
        <li>Home</li>
        <li>Store</li>
        <li>About</li>
        <li>Contact</li>
      </ul>
    </div>

    <div class="div-link1">
      <ul>
        <li>Boards</li>
        <li>Keychains</li>
        <li>Spairs</li>
        <li>Mice</li>
      </ul>
    </div>

    <div class="newsletter">
      <h2>Join our newsletter</h2>

      <div class="newsletter-container">
        <input type="email" placeholder="EMAIL" />
        <button>Subscribe</button>
      </div>
    </div>
  </footer>
  
  {% endblock footer %}
